body
{
    display: flex;                 /* Включаем flexbox */
    justify-content: center;       /* Центр по горизонтали */
    align-items: center;
    background-color: #cae2ff;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;

}
.card
{
    flex: none; /* Предотвращает изменение размеров flex-элемента */
    width: 300px; /* Фиксированная ширина */
    height: 450px; /* Фиксированная высота */
    border-radius: 30px;
    padding: 20px;
    background: linear-gradient(145deg, #a7caf8, #1542b8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Анимация при наведении */
.card:hover {
    transform: scale(1.05); /* Увеличение на 5% */
    background: linear-gradient(145deg, #c2f8a7, #15b818);/* Поднимается при наведении */
}


.card_photo
{
    display: flex;                 /* Включаем flexbox */
    justify-content: center;       /* Центр по горизонтали */
    align-items: center;
    height: 40%;
    padding: 40px;
}

/* Текстовый блок */
.card_text {
    display: flex;
    flex-direction: column;              /* Вертикальное расположение */
    justify-content: center;
}

/* Заголовок (ФИО) */
.card_text h2 {
    margin: 0 0 10px;                    /* Убираем отступы сверху, снизу */
    font-size: 24px;                     /* Размер шрифта */
    color: #333;                         /* Цвет */
}

/* Описание (поля) */
.card_text p {
    margin: 5px 0;                       /* Отступы между строками */
    font-size: 16px;                     /* Размер шрифта */
    color: #555;                         /* Цвет */
}

/* Жирный текст для меток */
.card_text p strong {
    color: #4A90E2;                      /* Цвет для заголовков */
}

img {
    width: 200px;                        /* Размер фото */
    height: 200px;
    border-radius: 50%;                  /* Круглая форма */
    object-fit: cover;                   /* Заполнение без искажения */
    border: 4px solid #4A90E2;           /* Рамка */
    transition: transform 0.6s ease;     /* Плавная анимация */
    transform-style: preserve-3d;
}

.card img:hover {
    transform: rotateY(180deg);
    border: 4px solid #75e24a;           /* Рамка */
}

